body.landing{
    /*background-color: rgb(58,23,63);*/
    background-color:#333333;
}
.hero-content{
    position:relative;
    min-height:600px;
    background-image:url(../assets/images/orion-landing.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}
.hero-content .hero-title{
    position:absolute;
    top:40%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    width:100%;
    text-align:center;
    font-size:4rem;
    font-weight: 300;
    text-transform:uppercase;
    letter-spacing:0.5rem;
    text-shadow:1px 1px 0px rbg(58,23,63);
}
 .selling-points {
     position: relative;
 }
 .point {
     position: relative;
     padding: 2rem;
     text-align: center;
     opacity: 0;

     -webkit-transform: scaleX(0.4) translateY(6rem);
     -moz-transform: scaleX(0.4) translateY(6rem);
     transform: scaleX(.4) translateY(6rem);
     -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
     transition: all 1s ease-in-out;
     -webkit-transition-delay: 0.2s;
     -moz-transition-delay: 0.2s;
     transition-delay: 0.2s;
 }
 .point .point-title {
     font-size: 1.25rem;
 }
 .fa-music,
 .fa-satellite-dish,
 .fa-mobile-alt,
 .ion-music-note,
 .ion-radio-waves,
 .ion-iphone {
     color: #6600ff; /*rgb(233,50,117);*/
     font-size: 5rem;
 }
